body {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23eddea7' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
}

/* .flex-container-header {
    display: flex;
    background-color: #ebe9e7;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 750px;
    margin: 20px;
} */


.main-nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: center;
    /* border: 1px solid #0f3e50; */
    background-color: #ebe9e7;
    font-family: Berkshire Swash;
    font-size: 20px;
}

.main-nav li {
    border-right: 1px solid #0f3e50;
    /* padding-inline: 20px; */
}

.main-nav li:last-child {
    border-right: none;
}

.main-nav li:first-child {
    padding-right: 100px;
}

.main-nav li a {
    display: block;
    color: #0f3e50;
    text-align: center;
    text-decoration: none;
    padding: 10px 25px;
}

/* .main-nav li a:hover {
    background-color: #ffffff;
} */

/* .flex-container-main {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
} */

.main-article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 500px;
    background-color: paleturquoise;
}

.article-h1 {
    display: flex;
    background-color: aqua;
}

.profile-img {
    display: flex;
    padding: 20px;
    background-color: lightgoldenrodyellow;
}

.p1 {
    display: flex;
    background-color: rosybrown;
}

.p2 {
    display: flex;
    background-color: antiquewhite;
}

.p3 {
    display: flex;
    background-color: darkgray;
}

.sidebar {
    display: flex;
    flex-wrap: nowrap;
    background-color: skyblue;
}

.contact-me {
    display: flex;
    justify-content: right;
    flex-direction: row;
    flex-basis: 10px;
    background-color: white;
}

.flex-container-footer {
    display: flex;
    background-color: #ebe9e7;
    justify-content: center;
}